swagger: '2.0'

# This is your document metadata
info:
  title: Skeddly API
  description: Skeddly API server.
  version: "1.0.0"
  x-spec-version: "@build"
  contact:
    name: Skeddly Support
    url: https://app.skeddly.com/Support
    email: support@skeddly.com
  termsOfService: https://skeddly.desk.com/customer/en/portal/articles/1350027-license-agreement
  license:
    name: Skeddly License Agreement
    url: https://skeddly.desk.com/customer/en/portal/articles/1350027-license-agreement
    
# the domain of the service
host: api.skeddly.com

# array of all schemes that your API supports
schemes:
  - https

# will be prefixed to all paths
basePath: /api

produces:
  - application/json
  
consumes:
  - application/json

security:
  - accessKeyAuth: []
  
securityDefinitions:
  accessKeyAuth:
    type: apiKey
    in: header
    name: Authorization
    
paths:

  # Action Executions
  /ActionExecutions:
    get:
      description: |
        Retrieves the list of action executions.
      tags:
        - action-executions
      security:
        - accessKeyAuth: []
        # This is array of GET operation parameters:
      parameters:
        - name: include
          in: query
          description: List of extra data to include in the results 
          required: false
          type: string
          format: comma-seperated list
        - name: filter.status
          in: query
          description: Execution status to limit resulut. 
          required: false
          type: string
          enum:
            - all
            - errorsOnly
            - completedOnly
            - runningOnly
        - name: filter.actionIds
          in: query
          description: List of action IDs.
          required: false
          type: string
          format: comma-seperated list
        - name: filter.credentialIds
          in: query
          description: List of credential IDs.
          required: false
          type: string
          format: comma-seperated list
        - name: filter.actionClasses
          in: query
          description: Types of actions for which to include executions.
          required: false
          type: string
          enum:
            - standard
            - managedInstances
          format: comma-seperated list
        - name: filter.dateComparesTo
          in: query
          description: Indicator to which the date range references.
          required: false
          type: string
          enum:
            - startDate
            - endDate
        - name: filter.range.inclusiveStart
          in: query
          description: Start date (inclusive) of the date range, in ISO8601 format.
          required: false
          type: string
          format: date-time
        - name: filter.range.exclusiveEnd
          in: query
          description: End date (exclusive) of the date range, in ISO8601 format.
          required: false
          type: string
          format: date-time
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ListActionExecutionsResponse
            type: array
            items:
              $ref: '#/definitions/ActionExecution'
              
  /ActionExecutions/Upcoming:
    get:
      description: |
        Retrieves the list of upcoming action executions.
      tags:
        - action-executions
      security:
        - accessKeyAuth: []
        # This is array of GET operation parameters:
      parameters:
        - name: filter.actionClasses
          in: query
          description: Types of actions for which to include executions.
          required: false
          type: string
          enum:
            - standard
            - managedInstances
          format: comma-seperated list
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ListUpcomingActionExecutionsResponse
            type: array
            items:
              $ref: '#/definitions/UpcomingActionExecution'
              
  /ActionExecutions/{id}:
    get:
      description: |
        Retrieves information of an action executions.
      tags:
        - action-executions
      security:
        - accessKeyAuth: []
        # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the action execution.
          required: true
          type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ActionExecution'
              
  /ActionExecutions/{id}/Cancel:
    put:
      description: |
        Stops a running action exection.
      tags:
        - action-executions
      security:
        - accessKeyAuth: []
        # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the action execution.
          required: true
          type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ActionExecution'
            
  # Actions
  /Actions:
    get:
      description: |
        Retrieves the list of actions.
      tags:
        - actions
      security:
        - accessKeyAuth: []
        # This is array of GET operation parameters:
      parameters:
        - name: include
          in: query
          description: List of extra data to include in the results 
          required: false
          type: string
          format: comma-seperated list
        - name: filter.actionTypes
          in: query
          description: List of action types. 
          required: false
          type: string
          format: comma-seperated list
        - name: filter.credentialIds
          in: query
          description: List of credential IDs.
          required: false
          type: string
          format: comma-seperated list
        - name: filter.isEnabled
          in: query
          description: True or False.
          required: false
          type: boolean
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ListActionsResponse
            type: array
            items:
              $ref: '#/definitions/Action'
  
  /Actions/{id}/Execute:
    put:
      description: Executes an existing action.
      tags:
        - actions
      security:
        - accessKeyAuth: []
        # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of an existing action.
          required: true
          type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ActionExecution'
              
              
  /Credentials:
    get:
      description: |
        Retrieves the list of credentials.
      tags:
        - credentials
      security:
        - accessKeyAuth: []
        # This is array of GET operation parameters:
      parameters:
        - name: filter.credentialIds
          in: query
          description: List of credential IDs to retrieve.
          required: false
          type: string
          format: comma-seperated list
        - name: filter.isIncludeDeleted
          in: query
          description: True or False.
          required: false
          type: boolean
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: ListCredentialsResponse
            type: array
            items:
              $ref: '#/definitions/Credential'
    post:
      description: |
        Creates a new credential.
      tags:
        - credentials
      security:
        - accessKeyAuth: []
      parameters:
        - name: body
          in: body
          description: Credential information to be created.
          required: true
          schema:
            $ref: '#/definitions/CreateCredential'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Credential'
            
  /Credentials/{id}: 
    get:
      description: |
        Retrieves an existing credential.
      tags:
        - credentials
      security:
        - accessKeyAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the existing credential to be retrieved.
          required: true
          type: string
        - name: filter.isIncludeDeleted
          in: query
          description: True or False.
          required: false
          type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Credential'
    put:
      description: |
        Modifies an existing credential.
      tags:
        - credentials
      security:
        - accessKeyAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the existing credential to be modified.
          required: true
          type: string
        - name: body
          in: body
          description: Credential information to be modified.
          required: true
          schema:
            $ref: '#/definitions/ModifyCredential'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Credential'
    delete:
      description: |
        Deletes an existing credential.
      tags:
        - credentials
      security:
        - accessKeyAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the existing credential to be deleted.
          required: true
          type: string
      responses:
        200:
          description: Successful response
  
  /Credentials/{id}/IamPolicy: 
    get:
      description: |
        Retrieves an IAM policy for the specified credential.
      tags:
        - credentials
      security:
        - accessKeyAuth: []
      parameters:
        - name: id
          in: path
          description: ID of an existing credential.
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            type: string
            
  /Credentials/GenerateAmazonIamRoleExternalId: 
    get:
      description: Generates an external ID to be used when creating an IAM role to be used by Skeddly.
      tags:
        - credentials
      security:
        - accessKeyAuth: []
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AmazonIamRoleExternalId'
            
  # Managed Instance Groups
  /ManagedInstanceGroups:
    get:
      description: |
        Retrieves the list of Managed Instance Groups.
      
      tags:
        - managed-instances
      
      security:
        - accessKeyAuth: []
        
        # This is array of GET operation parameters:
      parameters:
        - name: include
          in: query
          description: List of extra data to include in the results 
          required: false
          type: string
          format: comma-seperated list

      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            title: ListManagedInstanceGroupsResponse
            type: array
            items:
              $ref: '#/definitions/ManagedInstanceGroup'
    post:
      description: |
        Creates a new Managed Instance Group.
        
      tags:
        - managed-instances
      
      security:
        - accessKeyAuth: []
        
      parameters:
        - name: body
          in: body
          description: Managed Instance Group to be created.
          required: true
          schema:
            $ref: '#/definitions/CreateManagedInstanceGroup'
          
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedInstanceGroup'
            
  /ManagedInstanceGroups/{id}: 
    get:
      description: |
        Retrieves an existing Managed Instance Group.
        
      tags:
        - managed-instances
      
      security:
        - accessKeyAuth: []
        
      parameters:
        - name: id
          in: path
          description: ID of the existing Managed Instance Group to be retrieved.
          required: true
          type: string
        - name: include
          in: query
          description: List of extra data to include in the results 
          required: false
          type: string
          format: comma-seperated list
          
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedInstanceGroup'
    put:
      description: |
        Modifies an existing Managed Instance Group.
      tags:
        - managed-instances
      security:
        - accessKeyAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the existing Managed Instance Group to be modified.
          required: true
          type: string
        - name: body
          in: body
          description: Managed Instance Group to be modified.
          required: true
          schema:
            $ref: '#/definitions/ModifyManagedInstanceGroup'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedInstanceGroup'
    delete:
      description: |
        Deletes an existing Managed Instance Group.
      tags:
        - managed-instances
      security:
        - accessKeyAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the existing Managed Instance Group to be deleted.
          required: true
          type: string
      responses:
        200:
          description: Successful response
  
  # Managed Policies
  /ManagedPolicies:
    get:
      description: |
        Retrieves the list of available managed policies.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ListManagedPoliciesResponse
            type: array
            items:
              $ref: '#/definitions/ManagedPolicy'
  
  /ManagedPolicies/{id}:
    get:
      description: |
        Retrieves information about a single managed policy.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
        
      # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the managed policy to be retrieved.
          required: true
          type: string    
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/ManagedPolicy'
            
  /ManagedPolicies/{id}/PolicyDocument:
    get:
      description: |
        Retrieves the policy document for a single managed policy.
      tags:
        - users
      security:
        - accessKeyAuth: []
      # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the managed policy.
          required: true
          type: string    
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            type: string

  # Time Zones            
  /TimeZones:
    get:
      description: |
        Retrieves the list of available time zones.
      
      tags:
        - actions
      
      security:
        - accessKeyAuth: []
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ListTimeZonesResponse
            type: array
            items:
              $ref: '#/definitions/TimeZone'
              
  /TimeZones/{id}:
    get:
      description: |
        Retrieves information about a single time zone.
      
      tags:
        - actions
      
      security:
        - accessKeyAuth: []
        
      # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the time zone to be retrieved.
          required: true
          type: string    
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/TimeZone'
            
  # Users
  /Users:
    get:
      description: |
        Retrieves the list of users configured in the account.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
      
      parameters:
        - name: include
          in: query
          description: List of extra data to include in the results 
          required: false
          type: string
          format: comma-seperated list
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ListUsersResponse
            type: array
            items:
              $ref: '#/definitions/User'
              
    post:
      description: |
        Creates a new user.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
        
      # This is array of GET operation parameters:
      parameters:
        - name: body
          in: body
          description: Payload for the create user command
          required: true
          schema:
            $ref: '#/definitions/CreateUser'
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/User'
            
  /Users/{id}:
    get:
      description: |
        Retrieves information about a single user.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
        
      # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the user to be retrieved.
          required: true
          type: string    
        - name: include
          in: query
          description: List of extra data to include in the results 
          required: false
          type: string
          format: comma-seperated list
          
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/User'
    
    put:
      description: |
        Changes a user's properties.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
        
      # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the user to be modified.
          required: true
          type: string
        - name: body
          in: body
          description: Payload for the modify user command
          required: true
          schema:
            $ref: '#/definitions/ModifyUser'
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/User'
  
  /Users/{id}/AttachManagedPolicy:
    put:
      description: |
        Attaches a managed policy to a user.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
        
      # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the user.
          required: true
          type: string
        - name: body
          in: body
          description: Payload for the command.
          required: true
          schema:
            $ref: '#/definitions/AttachManagedPolicy'
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/User'
            
  /Users/{id}/DetachManagedPolicy:        
    put:
      description: |
        Detaches a managed policy from a user.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
        
      # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the user.
          required: true
          type: string
        - name: body
          in: body
          description: Payload for the command.
          required: true
          schema:
            $ref: '#/definitions/DetachManagedPolicy'
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/User'
            
  /Users/{id}/Password:
    put:
      description: |
        Changes a user's password.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
        
      # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the user to be retrieved.
          required: true
          type: string
        - name: body
          in: body
          description: Payload for the change password command
          required: true
          schema:
            $ref: '#/definitions/ModifyUserPassword'
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          
  /Users/{id}/RemoveMfa:
    put:
      description: |
        Removes a user's MFA device information.
      
      tags:
        - users
      
      security:
        - accessKeyAuth: []
        
      # This is array of GET operation parameters:
      parameters:
        - name: id
          in: path
          description: ID of the user whose MFA device information should be removed.
          required: true
          type: string
        - name: body
          in: body
          description: Payload for the remove MFA request
          required: true
          schema:
            $ref: '#/definitions/RemoveUserMfa'
        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response     
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            $ref: '#/definitions/User'
            
definitions:

  # An Action
  Action:
    type: object
    required:
      - actionId
      - actionType
      - actionVersionId
      - credentialId
      - isEnabled
      - lastModifiedBy
      - lastModifiedDate
      - name
      - regionName
    properties:
      actionId:
        type: string
      actionType:
        type: string
      actionVersionId:
        type: string
      credentialId:
        type: string
      isEnabled:
        type: boolean
      lastModifiedBy:
        type: string
      lastModifiedDate:
        type: string
        format: date-time
      name:
        type: string
      regionName:
        type: string
  
  ActionExecution:
    type: object
    properties:
      actionExecutionId:
        type: string
        description: ID of the action execution.
      status:
        type: string
        description: Status of the execution.
        enum:
          - running
          - complete
          - cancelling
      startDate:
        type: string
        description: Date, in ISO8601 format, when the execution started.
        format: date-time
      endDate:
        type: string
        description: Date, in ISO8601 format, when the execution finished.
        format: date-time
      trigger:
        type: string
        description: Method in which the execution was started.
        enum:
          - schedule
          - user
          - sns
      result:
        type: object
        properties:
          code:
            type: integer
            description: Result code for the execution.
            format: int32
            minimum: 0
          text:
            type: string
            description: Reslut text for the execution.
      actionId:
        type: string
        description: ID of the action that was executed.
      actionVersionId:
        type: string
        description: Version ID of the action that was executed.
      actionType:
        type: string
        description: Type identifier of the action.
      actionName:
        type: string
        description: Name of the action.
      timeZoneId:
        type: string
        description: ID of the time zone in which the action executed.
      credentialId:
        type: string
        description: ID of the credentials used.
      managedInstanceId:
        type: string
        description: ID of the managed instance to which the action belongs.
        
  AmazonIamRoleExternalId:
    type: object
    properties:
      externalId:
        type: string
        description: External ID to be used in the trust relationship of the IAM role.
      expiryDate:
        type: string
        description: Date, in ISO8601 format, when the external ID will expire. The external ID must be used to create an IAM role before the expiry date.
        format: date-time
        
  AttachManagedPolicy:
    type: object
    required:
      - managedPolicyId
    properties:
      managedPolicyId:
        type: string
        description: ID of the managed policy to attach to the user.
  
  CreateCredential:
    type: object
    required:
      - cloudProviderSubTypeId
      - credentialType
      - name
    properties:
      cloudProviderSubTypeId:
        type: string
        description: Cloud-provider sub-type.
        enum:
          - amazon-standard
          - amazon-govcloud-us
          - amazon-china
      credentialType:
        type: string
        description: Type of credential.
        enum:
          - amazon-access-key
          - amazon-iam-role
      name:
        type: string
        description: Friendly name of the credential.
      roleArn:
        type: string
        description: ARN for the IAM role. Required if credentialType is "amazon-iam-role".
        minLength: 1
        maxLength: 100
      externalId:
        type: string
        description: External ID for the IAM role. Required if credentialType is "amazon-iam-role".
        minLength: 10
        maxLength: 32
      accessKeyId:
        type: string
        description: Access Key ID of the IAM user. Required if credentialType is "amazon-access-key".
        minLength: 20
        maxLength: 20
      secretAccessKey:
        type: string
        description: Secret access Key of the IAM user. Required if credentialType is "amazon-access-key".
        minLength: 40
        maxLength: 40
          
  CreateManagedInstanceGroup:
    type: object
    required:
      - name
      - timeZoneId
    properties:
      backupParameters:
        $ref: '#/definitions/ManagedInstanceBackupParameters'
      deleteBackupsParameters:
        $ref: '#/definitions/ManagedInstanceDeleteBackupsParameters'
      name:
        type: string
        maxLength: 255
      startStopParameters:
        $ref: '#/definitions/ManagedInstanceStartStopParameters'
      timeZoneId:
        type: string
  
  CreateUser:
    type: object
    required:
      - emailAddress
      - password
      - username
    properties:
      emailAddress:
        type: string
        description: New email address for the user.
      password:
        type: string
      username:
        type: string
        description: Username for the new user.
      managedPolicyIds:
        type: array
        items:
          type: string
          
  Credential:
    type: object
    required:
      - credentialId
      - name
      - credentialType
    properties:
      credentialId:
        type: string
        description: Unique ID of the credential.
      name:
        type: string
        description: Friendly name of the credential.
      credentialType:
        type: string
        description: Type of credential.
        enum:
          - amazon-access-key
          - amazon-iam-role
      createdDate:
        type: string
        description: Date, in ISO8601 format, when the credendial was created.
        format: date-time
      lastModifiedDate:
        type: string
        description: Date, in ISO8601 format, when the credendial was last modified.
        format: date-time
      lastModifiedBy:
        type: string
        description: User ID of the last user to modify the credential.
      status:
        type: string
        description: Status of the credential.
        enum:
          - active
          - deleted
      cloudProviderSubTypeId:
        type: string
        enum:
          - amazon-standard
          - amazon-govcloud-us
          - amazon-china
      roleArn:
        type: string
        description: ARN for the IAM role.
      externalId:
        type: string
        description: External ID for the IAM role.
      accessKeyId:
        type: string
        description: Access Key ID of the IAM user.
      actionIds:
        type: array
        description: Action IDs of actions which are using this credential.
        items:
          type: string
      managedInstanceIds:
        type: array
        description: Managed Instance IDs of managed instances which are using this credential.
        items:
          type: string
      isUsedForSnsNotifications:
        type: boolean
        description: True when the credential is used for SNS notifications.
          
  DailyScheduleParameters:
    type: object
    description: Parameters for a 'daily' schedule.
    allOf:
      - $ref: '#/definitions/ScheduleParameters'
      -
        properties:
          days:
            type: array
            description: Days of the week on which to execute.
            items:
              type: string
              enum:
                - sunday
                - monday
                - tuesday
                - wednesday
                - thursday
                - friday
                - saturday
  
  DetachManagedPolicy:
    type: object
    required:
      - managedPolicyId
    properties:
      managedPolicyId:
        type: string
        description: ID of the managed policy to detach from the user.
        
  HourlyScheduleParameters:
    type: object
    description: Parameters for a 'hourly' schedule.
    allOf:
      - $ref: '#/definitions/ScheduleParameters'
      -
        properties:
          hours:
            type: array
            description: Hours of the day at which to execute.
            items:
              type: integer
              format: int32
              minimum: 0
              maximum: 23
             
  ManagedInstanceBackupParameters:
    type: object
    required:
      - schedule
      - backupName
      - tags
    properties:
      schedule:
        $ref: '#/definitions/ManagedInstanceSchedule'
      backupName:
        type: string
        description: Name of the backup to be created.
        maxLength: 255
      tags:
        type: array
        description: Resource tags to add to the backups.
        items:
          $ref: '#/definitions/Tag'
  
  ManagedInstanceDeleteBackupsParameters:
    type: object
    required:
      - schedule
      - olderThanDays
      - minimumToKeep
      - isPerVolume
    properties:
      schedule:
        $ref: '#/definitions/ManagedInstanceSchedule'
      isPerVolume:
        type: boolean
      minimumToKeep:
        type: integer
        format: int32
        description: Minimum number of backups to preserve.
        minimum: 0
        maximum: 100
      olderThanDays:
        type: integer
        format: int32
        description: Minimum age for a backup to be deleted.
        minimum: 1
        maximum: 1000
          
  # A Managed Instance Group    
  ManagedInstanceGroup:
    type: object
    required:
      - createdDate
      - managedInstanceGroupId
      - lastModifiedBy
      - name
      - timeZoneId
    properties:
      backupParameters:
        $ref: '#/definitions/ManagedInstanceBackupParameters'
      createdDate:
        type: string
        format: date-time
      deleteBackupsParameters:
        $ref: '#/definitions/ManagedInstanceDeleteBackupsParameters'
      isBackupInstance:
        type: boolean
      isDeleteBackups:
        type: boolean
      isStartInstance:
        type: boolean
      managedInstanceGroupId:
        type: string
      lastModifiedBy:
        type: string
        format: date-time
      name:
        type: string
        maxLength: 255
      startStopParameters:
        $ref: '#/definitions/ManagedInstanceStartStopParameters'
      timeZoneId:
        type: string
  
  ManagedInstanceSchedule:
    type: object
    description: Schedule for a Managed Instance or a Managed Instance Group.
    required:
      - scheduleType
      - timeOfDay
      - parameters
    properties:
      parameters:
        $ref: '#/definitions/ScheduleParameters'
      scheduleType:
        type: string
        description: Type of schedule.
        enum:
          - hourly
          - daily
          - monthly
      timeOfDay:
        type: string
        description: Time of day to execute the schedule.
          Local to the time zone of the Managed Instance or Managed Instance Group. Format is 24-hour, 'hh:mm:ss'.
        pattern: '[0-2][0-9]:[0-5][0-9]:[0-5][0-9]'
  
  ManagedInstanceStartStopParameters:
    type: object
    required:
      - schedule
      - stopTimeInSeconds
    properties:
      schedule:
        $ref: '#/definitions/ManagedInstanceSchedule'
      stopTimeInSeconds:
        type: integer
        description: Length of time (in seconds) after the instance was
          started to stop the instance.
        format: int32
        minimum: 1
        maximum: 86400
  
  ManagedPolicy:
    type: object
    description: A managed policy.
    required:
      - managedPolicyId
      - name
    properties:
      managedPolicyId:
        type: string
      name:
        type: string
  
  ModifyCredential:
    type: object
    properties:
      cloudProviderSubTypeId:
        type: string
        description: New cloud-provider sub-type.
        enum:
          - amazon-standard
          - amazon-govcloud-us
          - amazon-china
      name:
        type: string
        maxLength: 255
        description: New name of the credential.
      roleArn:
        type: string
        description: New ARN for the IAM role. Allowed only if credentialType is "amazon-iam-role".
        minLength: 1
        maxLength: 100
      externalId:
        type: string
        description: New external ID for the IAM role. Allowed only if credentialType is "amazon-iam-role".
        minLength: 10
        maxLength: 32
      accessKeyId:
        type: string
        description: New access Key ID of the IAM user. Allowed only if credentialType is "amazon-access-key".
        minLength: 20
        maxLength: 20
      secretAccessKey:
        type: string
        description: New secret access Key of the IAM user. Allowed only if credentialType is "amazon-access-key".
        minLength: 40
        maxLength: 40
        
  ModifyManagedInstanceGroup:
    type: object
    required:
      - name
      - timeZoneId
    properties:
      name:
        type: string
        maxLength: 255
      timeZoneId:
        type: string
        maxLength: 255
      backupParameters:
        $ref: '#/definitions/ManagedInstanceBackupParameters'
      deleteBackupsParameters:
        $ref: '#/definitions/ManagedInstanceDeleteBackupsParameters'
      startStopParameters:
        $ref: '#/definitions/ManagedInstanceStartStopParameters'
        
  ModifyUser:
    type: object
    properties:
      emailAddress:
        type: string
        description: New email address for the user.
      status:
        type: string
        description: New status for the user.
        enum:
          - disabled
          - enabled
     
  ModifyUserPassword:
    type: object
    required:
      - password
    properties:
      password:
        type: string
        description: New password for the user
        
  MonthlyScheduleParameters:
    type: object
    description: Parameters for a 'monthly' schedule.
    allOf:
      - $ref: '#/definitions/ScheduleParameters'
      -
        required:
          - dayOfMonth
        properties:
          dayOfMonth:
            type: string
            enum:
              - indicate-day-and-week
              - last-day
              - same-day-as-start
          months:
            type: array
            description: Months of the year in which to execute.
            items:
              type: string
              enum:
                - january
                - february
                - march
                - april
                - may
                - june
                - july
                - august
                - september
                - october
                - november
                - december
          weekAndDay:
            $ref: '#/definitions/WeekAndDay'
                
  NoneScheduleParameters:
    type: object
    allOf:
      - $ref: '#/definitions/ScheduleParameters'
  
  RemoveUserMfa:
    type: object
    required:
      - mfaType
    properties:
      mfaType:
        type: string
        description: Type of MFA to delete.
        enum:
          - mobile-otp
          - google-auth
          
  ScheduleParameters:
    type: object
    
  Tag:
    type: object
    description: A resource tag.
    required:
      - name
    properties:
      name:
        type: string
        maxLength: 255
      value:
        type: string
        maxLength: 255

  TimeZone:
    type: object
    description: A time zone.
    required:
      - displayName
      - timeZoneId
    properties:
      displayName:
        type: string
      timeZoneId:
        type: string
  
  UpcomingActionExecution:
    type: object
    properties:
      actionId:
        type: string
        description: ID of the action that will executed.
      actionName:
        type: string
        description: Name of the action.
      actionType:
        type: string
        description: Type identifier of the action.
      actionVersionId:
        type: string
        description: Version ID of the action that will executed.
      managedInstanceId:
        type: string
        description: ID of the managed instance to which the action belongs.
      startDate:
        type: string
        description: Date, in ISO8601 format, when the execution will start.
        format: date-time
      timeZoneId:
        type: string
        description: ID of the time zone in which the action will execute.
        
  User:
    type: object
    description: A user.
    required:
      - userId
      - username
      - emailAddress
      - status
      - lastAccessDate
      - mfaType
    properties:
      emailAddress:
        type: string
      lastAccessDate:
        type: string
      managedPolicies:
        type: array
        items:
          $ref: '#/definitions/ManagedPolicy'
      mfaType:
        type: string
        enum:
          - none
          - mobile-otp
          - google-auth
      status:
        type: string
        enum:
          - enabled
          - disabled
          - deleted
      userId:
        type: string
        example: "u-12345678"
      username:
        type: string
        
  WeekAndDay:
    type: object
    required:
      - day
      - week
    properties:
      week:
        type: string
        enum:
          - first
          - second
          - third
          - fourth
          - last
      day:
        type: string
        enum:
          - sunday
          - monday
          - tuesday
          - wednesday
          - thursday
          - friday
          - saturday 

  WeeklyScheduleParameters:
    type: object
    allOf:
      - $ref: '#/definitions/ScheduleParameters'
      -
        required:
          - dayOfWeek
        properties:
          dayOfWeek:
            type: string
            enum:
              - same-day-as-start
      
# End of file
